body{
    font-family: 'Roboto', sans-serif;
}

img{
    width: 60px; 
    height: auto;
}

.coffee{
    width: 18px; 
    height: auto;
}


#popup{
    display: none;
}

.techniek{
    margin-top: 5%;
}

.techniek_side{
    text-align: center;
    margin-bottom: 5%;
}

.techniek_side .card{
    margin-left: auto;
    margin-right: auto;
}

.techniek_arrow img{
    width: 50%;
    margin-top: 14%;
}

.arrow_right img{
    -moz-transform: scaleX(-1) scaleY(-1);
    -o-transform: scaleX(-1) scaleY(-1);
    -webkit-transform: scaleX(-1) scaleY(-1);
    transform: scaleX(-1) scaleY(-1);
    filter: FlipH FlipV;
    -ms-filter: "FlipH FlipV";
    margin-left: 8%;
}

.arrow_left img{
    -moz-transform: scaleX(1) scaleY(-1);
    -o-transform: scaleX(1) scaleY(-1);
    -webkit-transform: scaleX(1) scaleY(-1);
    transform: scaleX(1) scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
    margin-left: 40%;
}

.last{
    margin-top: -3%;
}

.portfolio{
    margin-bottom: 8%;
}

@media only screen and (max-width: 479px) {
    .arrow_left{ display: none !important; }
    .arrow_right{ display: none !important; }
 }

 #imgmain{
    text-align: center;
 }

 #imgmain img{
    width: 25%;
    border-bottom: 2px solid black;
    margin-bottom: 5%;
 }

 #options{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
 }

 #options img{
    width: 33%;   
    float: left;
 }