body{
    /*background-image: url('../img/rain.jpg');*/
}

#users{
    margin-top: -30px;
}

#map {
    width: 100%;
    height: 400px;
    background-color: grey;
    margin-top: 10px;
  }

.weatherinfo{
    font-size: 1.8em;
}

.errImg{
    width: 30%;
}

.cityinput{
    height: 50px;
    font-size: 1.6em;
}

.countryFlag{
    height: 0.8em;
}

.countryinfobutton{
    margin-bottom: 30px;
}

div .users{
    text-align: center;
}

div .map{
    margin-bottom: -10%;
}

div .countryinfo
{
    padding-top: 10px;
    text-align: left;
    padding-left: 35%;
    margin-top: -30px;
}